#head1{
    color: orange;
}

#head2{
    color: blue;
}
.div1{
    border-style: groove;
}
span{
    background-color: aquamarine;
}
#demo {color: blue;}
.test {color: green;}
ul {color: red;}

#emo{
    color:blue;
}
.est{
    color: green;
}
